# Dependencies
node_modules
npm-debug.log

# Build outputs
.next
out

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Test files
tests
*.spec.ts
*.test.ts
coverage
test-results
playwright-report
playwright.config.ts

# Documentation
*.md
!README.md

# Misc
.DS_Store
Thumbs.db
